html,
body {
    background-color: rgb(218, 216, 216);
    width: 100%;
}

.fa {
    font-size: 20px;
    margin-left: 15px;
  }

.dark-mode{
    background-color:rgb(51, 51, 51);
    min-height: 100vh;
}

.card-dark {
    background-color: #000;
    color: rgb(231, 229, 229);
}